{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{{ title }} - {{ document.titre }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="card-title mb-0">
                    <i class="fas fa-code-branch"></i> {% trans "Nouvelle version" %}
                    <small>{{ document.titre }}</small>
                </h4>
            </div>
            <div class="card-body">
                <div class="alert alert-info">
                    <i class="fas fa-info-circle"></i>
                    {% trans "Version actuelle" %}: v{{ document.version }}
                </div>

                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.fichier|as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{ form.commentaire|as_crispy_field }}
                        </div>
                    </div>
                    
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> {% trans "Enregistrer" %}
                        </button>
                        <a href="{% url 'documents:versions' reference=document.reference %}" class="btn btn-secondary">
                            <i class="fas fa-times"></i> {% trans "Annuler" %}
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %} 